<aside>
    <div
        (click)="onFavoriteClick()"
        class="flex justify-center items-center p-2 text-pink-400 hover:cursor-pointer">
        <ng-container *ngIf="!_loading">
            <ng-container *ngIf="isFavorite; then favorite else notFavorite" class="material-icons"></ng-container>
                <ng-template #favorite>
                    <img src="assets/img/pokeball-closed.gif">
                </ng-template>
                <ng-template #notFavorite>
                    <img src="assets/img/pokeball-open.gif"/>
                </ng-template>
            
            
        </ng-container>
        <ng-template #spinner>
            <span class="material-icons animate-spin">refresh</span>
        </ng-template>
    </div>
</aside>